@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --grey-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

* {
  font-family: 'Roboto';
}
body{
  background-color: var(--background);
  color: #fff;
}
